## Discord Bot Credentials
token="token-in-quotes"
client_id="id-in-quotes"






"""
FYI:
    (1) "hidden.py" passes sensitive information into code for authentication purposes.
    (2) Keep this secure and do not publish.
    (3) You may combine contents from praw.ini with hidden.py; I decided to keep them seperate because praw is natively designed to handle authentication credentials by accessing "praw.ini".
"""