[discord-bot]
client_id=id-without-quotes
client_secret=secret-without-quotes
user_agent='string goes here in quotes'
username=RedditUsername-without-quotes
password=RedditPassword-without-quotes

 

"""
FYI:
    (1) "praw.ini" passes sensitive information into code for authentication purposes with Reddit's API.
    (2) You may combine contents from praw.ini with hidden.py; I decided to keep them seperate because praw is natively designed to handle authentication credentials by accessing "praw.ini".
    (3) Keep this secure and do not publish.
    (4) PRAW/Reddit Documentation: https://praw.readthedocs.io/en/latest/getting_started/configuration/prawini.html
"""